{% extends 'layout.html' %}
{% block body %}


<form name='c1' method="POST" action="" style="background-color: aqua; padding:5%;">
    <pre>Question statement <input type='text' name="question" size="80"></pre>
    <pre>Option 1           <input name='Option1' type='text'> </pre>
    <pre>Option 2           <input name='Option2' type='text'></pre>
    <pre>Option 3           <input name='Option3' type='text'></pre>
    <pre>Option 4           <input name='Option4' type='text'></pre>
    <pre>Option 5           <input name='Option5' type='text'></pre>
    <pre>Option 6           <input name='Option6' type='text'></pre>
    
    <div margin-top='10'>
    <pre> Choose the level of difficulty for the question
    <input type = "radio" name="difficulty" value='1'> Easy 
    <input type = "radio" name="difficulty" value='2'> Medium 
    <input type = "radio" name="difficulty" value='3'> Hard </pre>
    </div>
    
    <div margin-top ='10'>
    <pre>Correct option number <input name='correct' type='text'></pre>
    </div>
    
    <input type='submit' value='Add' style="background-color:orchid;">

</div>
</form>


{% endblock %}
