{% extends 'layout.html' %}
{% block body %}

<div></div>
<form name='c1' method="POST" action="">
    <p>Question statement <input type='text' name="question" size="80"></p>
    <p>Option 1 <input name='Option1' type='text'> </p>
    <p>Option 2 <input name='Option2' type='text'></p>
    <p>Option 3 <input name='Option3' type='text'></p>
    <p>Option 4 <input name='Option4' type='text'></p>
    <p>Option 5 <input name='Option5' type='text'></p>
    <p>Option 6 <input name='Option6' type='text'></p>
    <p> Choose the level of difficulty for the question </p>
    <input type = "radio" name="difficulty" value='1'> Easy </br>
    <input type = "radio" name="difficulty" value='2'> Medium </br>
    <input type = "radio" name="difficulty" value='3'> Hard </br>
    <p>Correct option number <input name='correct' type='text'></p>
    
    
    <input type='submit' value='submit'>

</div>
</form>


{% endblock %}