{% extends 'layout.html' %}

{% block body %}
<body style=background-color:blanchedalmond>
<marquee> <h1> <b><cite>{{session.username}},WELCOME TO PRACTO QUIZ </cite> </b></h1> </marquee>  
<h2 style=background-color:coral;font-family:verdana;width:450px;font-size:35px;>RULES TO BE FOLLOWED</h2>

<ul style="list-style-type:square;">
    <li>The participants shall not be allowed to  use mobile,calculator or other electronic instruments.</li>
    <li>DO NOT COPY!! If you are found copying from other people or from any other online/offline source,your test will be cancelled.</li>
    
  </ul>

  <h2 style=background-color:coral;width:275px;font-family:verdana;font-size:35px;>INSTRUCTIONS</h2>

  <ul style="list-style-type:square;">
    <li>There are 20 questions with 4-6 options.</li>
    <li>You can choose any <b>ONE</b> option.</li>
    <li>There will be <b>negative mark</b> for wrong answers.</li>
    <li>The marks for each correct answer and wrong answer depends on the difficulty level of question.</li>
    <li>Time limit is 20 mins.You can see the timer in the top right corner.</li>
    <li>The test will be automatically submitted after 20 minutes.</li>
    
  </ul>
<center> <button type="submit" class="btn btn-primary">START QUIZ</button></center>
</body>
{% endblock %}
