{% extends 'layout.html' %}
{% block body %}
<style>th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
  }
  table{
      background-color: white;
      padding:20%;
  }
  th {
  background-color: #00afff;
  color: white;
}

</style>
<center>
    
    <form method="POST" action="" style="background-color: aqua; padding:5%;">
    <b>Pick a test to get the report of</b><br/><br/>
    <table>
        <tr>
            <th>  </th>
            <!-- <th>Id</th> -->
            <th>Test name </th>
        </tr>
        {% for test in tests %}
        <tr>
        <td><input type='radio' name='selectedtest' value="{{test.test_id}}"> </td>
        <!-- <td>{{test.test_id}}</td> -->
        <td>{{test.collegename}}</td>
        </tr>
        {% endfor %}
    </table><br/>
    <input type='submit' value="submit" style="background-color:#00afff; color:white;">
    </form>

</center>
{% endblock %}
